<fieldset>
    <mtapp:setting
        id="use_qotd"
        label="Aggregate via Question of the day">
            <input type="checkbox" name="use_qotd_us" id="use_qotd_us" value="1" <TMPL_IF NAME="USE_QOTD_US">checked="1" </TMPL_IF>/>&nbsp;English Vox<br/>
            <input type="checkbox" name="use_qotd_jp" id="use_qotd_jp" value="1" <TMPL_IF NAME="USE_QOTD_JP">checked="1" </TMPL_IF>/>&nbsp;Japanese Vox
    </mtapp:setting>
</feildset>
